<div class="container">
    <div class="footer-static">
        <div class="row">
            <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                <div class="img-logo"><a href="#"><img src="https://theme.hstatic.net/1000234201/1000402092/14/logo.png?v=2153" alt=""></a></div>
                <div class="footer-static-content ">
                    <h3>
                       
                    </h3>
                </div>
            </div>
           
            <div class="f-col f-col-5 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Thông tin liên hệ</h3>
                </div>
                <div class="footer-static-content ">
                    <ul>
                        <li class="first">Hotline: 09346473247</li>
                        <li>Người thực hiện: Le Thanh Lam</li>
                        <li>Làm việc: 9h00 - 17h00 từ Th2 - Th7</li>
                        <li class="last">Địa chỉ: Số 20 - Kiến Hưng - Hà Đông - Hà Nội</></li>
                    </ul>
                </div>
            </div>
            <div class="f-col f-col-6 col-sm-6 col-md-4 col-sms-12 col-smb-12">
                <div class="footer-static-title">
                    <h3>Hướng dẫn đặt hàng</h3>
                </div>
                <div class="footer-static-content">
                    <ul>
                        <li class="first"><a">Hướng dẫn mua hàng</a></li>
                        <li><a>Hướng dẫn chọn size</a></li>
                        <li><a>Tra cứu đơn hàng</a></li>
                        <li><a>Voucher giảm giá</a></li>
                        <li class="last"><a>Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>